// Fonts
@font-face {
    font-family: global-font;
    src: url(../fonts/Helvetica-Font/Helvetica.ttf);
}

// Global Styles 
*,
*:before,
*:after {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    opacity: 0.9;
}


// Mixin
@mixin styleLink {
    text-decoration: underline;
    color:white;
}

body{
    font-family: global-font, sans-serif;          
    font-size: 22px;
    color:seashell;
    background-color: black;
    text-align: center;

    header{
        height: 69px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid seashell;
        img{
            display: inline;
            float: left;
            height: 50px;
            vertical-align: middle;
        }
        nav{
            display:inline;
            float: right;
            a{
                @include styleLink();
                padding: 0 0.5rem;
            }
        }
    }
    // Main Section Start
    section{
        padding: 0 20px;
        #main{
            background-image: url(../images/img-mission-background.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 700px;
            display:flex;
            justify-content: center;
            align-items: center;
            
            #main-headings{
                background-color: black;
                width: 100%;
                padding:10px;
                h2{
                    margin-bottom: 10px;
                }
            }
        }
    }
    // Main Section End

}